<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeljko Djokic, YT3YT</title>
    <meta name="yandex-verification" content="2184a7d7bbbf7910" />
    <meta name='keywords' content='Zeljko Djokic, Zajecar, Nis, YT3YT, YT3TEL, YU4ZDJ YU1ACR'>
    <meta name='description' content='Zeljko Djokic, YU4ZDJ'>
    <meta name='designer' content='Zeljko Djokic, djokic.yt3yt@gmail.com'>
    <meta name='author' content='Zeljko Djokic, djokic.yt3yt@gmail.com'>
    <meta name='url' content='https://www.zeljkodjokic.com'>

    <meta property="og:url"          content="https://www.zeljkodjokic.com" />
    <meta property="og:type"         content="website" />
    <meta property="og:title"        content="Zeljko Djokic, YT3YT" />
    <meta property="og:description"  content="Zeljko Djokic, Zajecar, Nis, YT3YT, YT3TEL, YU4ZDJ YU1ACR"/>
    <meta property="og:image"        content="images/image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ZeljkoDjokic4" />
    <meta name="twitter:title" content="Zeljko Djokic, YT3YT" />
    <meta name="twitter:description" content="Zeljko Djokic, Zajecar, Nis, YT3YT, YT3TEL, YU4ZDJ YU1ACR" />
    <meta name="twitter:image" content="images/image.jpg" />

    <meta name="googlebot" content="all">
    <meta name="googlebot-news" content="all">
    <meta name="robots" content="index">
    <meta name="robots" content="follow">
    <meta name="robots" content="cache">
    <meta name="robots" content="archive">
    
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
